/* Paleta de cores marrom */
:root {
    --marrom-escuro: #4E342E;
    --marrom-medio: #6D4C41;
    --creme: #efebe9;
    --bege: #D7CCC8;
}

body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;
    background-color: var(--marrom-medio);
    color: var(--creme);
}

#torta-container {
    display: flex;
    justify-content: center;
    align-items: center;
    cursor: pointer;
}

#torta-cookie {
    width: 250px;
    height: auto;
    border-radius: 50%;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.4);
    transition: transform 0.3s ease;
}

#torta-cookie:hover {
    transform: scale(1.05);
}

#site-container {
    display: none; /* Oculto por padrão */
    width: 80%;
    max-width: 800px;
    padding: 2rem;
    background-color: var(--marrom-escuro);
    border-radius: 10px;
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.3);
    text-align: center;
}

h1 {
    font-family: 'Georgia', serif;
    color: var(--bege);
    font-size: 3rem;
    margin-bottom: 1rem;
    border-bottom: 2px solid var(--bege);
    padding-bottom: 0.5rem;
}

main p {
    font-size: 1.2rem;
    line-height: 1.6;
}